.container {
  background: #dff7e8;
  min-height: 100vh;
  padding: 32px 24px;
  font-family: "Poppins", Arial, sans-serif;
}

.backBtn {
  background: #03695b;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 20px;
  transition: 0.2s ease;
  font-family: "Poppins", Arial, sans-serif;
}

.backBtn:hover {
  background: #1B876C;
}

.title {
  font-size: 30px;
  margin-bottom: 24px;
  color: #024e45;
  font-weight: 700;
}

.createBtn {
  background: #026b5b;
  color: #fff;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.createBtn:hover {
  background: #035c50;
}

.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bankCard {
  background: #fff;
  padding: 18px;
  border-radius: 14px;
  border: 1px solid #c9e3d6;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: 0.2s ease;
}

.bankCard:hover {
  transform: translateY(-3px);
  border-color: #a9d2c4;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBox {
  background: #fff;
  width: 420px;
  padding: 24px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modalTitle {
  font-size: 20px;
  font-weight: 700;
  color: #024e45;
}

.modalBox input,
.modalBox select {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #c8dfd4;
  background: #f7fcfa;
  outline: none;
  font-size: 14px;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
  font-size: 14px;
}

.modalCancel {
  background: #d6d6d6;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.modalSave {
  background: #026b5b;
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
