.loginContainer {
  width: 100%;
  height: 100vh;

  background: #004940;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.logo {
  width: 120px;
  object-fit: contain;
  margin-bottom: 25px;
}

.loginCard {
  width: 360px;
  padding: 28px 30px;

  background: #ffffff;
  border-radius: 18px;
  border: 2px solid #546068;

  display: flex;
  flex-direction: column;

  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.50);
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #004940;
  text-align: center;
  margin-bottom: 20px;
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
  font-size: 14px;
}

.submitButton {
  width: 100%;
  height: 45px;

  background: #004940;
  color: white;

  border: none;
  border-radius: 12px;

  font-size: 1.1rem;
  font-weight: 600;

  cursor: pointer;

  margin-top: 14px;

  transition: 0.2s ease;
}

.submitButton:hover {
  background: #1B876C;
  transform: translateY(-2px);
}

.submitButton:active {
  transform: scale(0.70);
}

.forgotPassword {
  margin-top: 12px;
  text-align: center;
}

.forgotPassword a {
  color: #546068;
  text-decoration: none;
  font-size: 14px;
}

.forgotPassword a:hover {
  text-decoration: underline;
  color:#1B876C
}

